/* Button */
.faq-btn-float{
  padding: 5px 5px;
  background-color: var(--LightGreen);
  text-decoration: none!important;
  position: fixed;
  bottom: 80px;
  right: 30px;
  border-radius: 30px;
  /* height: 45px;*/
  width: 45px; 
  box-sizing: border-box;
  z-index: 299;
  box-shadow: 0px 5px 5px #222222;
}

.faq-btn-float:hover{
  background-color: var(--Pink);
}

.faq-btn-icon{
  display: block;
  font-size: 23px;
  font-weight: 900;
  text-align: center;
  color: white;
}

/* Modal */
.faq-modal{
  display: none;
  border: 5px solid var(--Orange);
  width: 60vw;
  height: 70vh;
  overflow-y: scroll;
  background-color: rgb(236, 236, 236);
  border-radius: 30px;
  position: fixed;
  z-index: 300;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-left: auto;
  margin-right: auto;
  overflow-x: hidden;
}

.show-faq{
  display: block;
}

.faq-modal-wrapper{
  width: 60vw;
  height: 70vh;
}

.close-modal{
  color: black;
  display: flex;
  justify-content: end;
  transform: translate(-5%, 50%);
  font-size: 40px;
}

.faq-container{
  width: 80%;
  margin: auto;
}

.faq-accordion {
    background-color: var(--Orange);
    color: black;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 10px;
    transition: 0.4s;
    border-radius: 20px;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
  }

  .faq-accordion h3{
    font-size: 15px;
    font-weight: 600;
  }
  
  .active,
  .faq-accordion:hover {
    background-color: var(--Pink);
  }
  
  .faq-accordion:after {
    content: "\002B";
    color: black;
    font-weight: bold;
    margin-left: 5px;
  }
  
  .active:after {
    content: "\2212";
  }
  
  .faq-panel {
    padding: 0 20px;
    background-color: rgb(236, 236, 236);
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    width: 100%;
  }
  
  .faq-panel p {
    font-weight: 500;
    padding-bottom: 10px;
    padding-top: 20px;
  }
  
  .faq-container h1 {
    display: block;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 10px;
    color: black;
    font-family: 'Permanent Marker';
  }

  .telegram-btn{
    background-color: #0088cc;
    color: white;
    padding: 10px;
    border-radius: 20px;
    text-align: end;
    text-decoration: none!important;
    justify-content: end;
    font-size: 10px;
    display: flex;
    justify-content: end;
    width: 100px;
    margin: 10px auto;
  }

  .telegram-btn:hover{
    background-color: white;
    color: #0088cc;
  }

  @media screen and (max-width: 500px) {
    .faq-modal{
      width: 90vw;
      height: 90vh;
    }
    .faq-modal-wrapper{
      width: 90vw;
      height: 90vh;
    }
  }
  