/* Agenda in landing page */
.agenda-container{
    width: 100vw;
    /* height: 70vh; */
    background: var(--veryBrightGrey);
    padding-bottom: 6%;
    border: var(--borderWidth) solid var(--softBlack)!important;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.agenda-section{
    max-width: 85vw;
    display: flex;
    flex-direction: row;
    /* overflow-x: scroll; */
    margin-top: 5%;
}

.agenda-card{
    border: var(--borderWidth) solid var(--softBlack)!important;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    text-decoration: none!important;
}

.agenda-card:hover{
    border: var(--borderWidth) solid var(--customRed)!important;
}

.agenda-wrapper{
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.agenda-sec-h1 {
    text-align: center;
    border: var(--borderWidth) solid var(--softBlack);
    border-radius: 5px;
    text-decoration: none;
    font-weight: 600;
    color: var(--softBlack);
    letter-spacing: 2px;
    padding: 20px 15px;
    margin: 5% 15px 15px 15px;
    background: white;
    position: relative;
    z-index: 10;
    font-style: italic;
}
/* .agenda-sec-h1:after {
    content: "";
    position: relative;
    display: block;
    background: inherit;
    border-radius: inherit;
    border: inherit;
    left: 2px;
    top: 2px;
    width: 100%;
    height: 100%;
    z-index: 0;
  } */


@media (min-width: 768px) {
  .agenda-sec-h1 {
    padding: 12px 50px;
  }
}

.custom-arrow{
    display: block;
    text-align: center;
    background-color: var(--DarkGrey);
    text-decoration: none!important;
    height: 37px;
    width: 50px;
    border-radius: 20px;
    padding: 5px;
    margin: auto;
    cursor: pointer;
}

.custom-arrow span{
    display: block;
    margin: auto;
    line-height: 100%;
    text-align: center;
    text-decoration: none!important;
    color: white;
}

.img-cont-agenda-sec{
    height: 300px;
    border: var(--borderWidth) solid var(--softBlack);
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-radius: 20px 20px 0px 0px!important;
}

.agenda-card:hover .img-cont-agenda-sec{
    border: var(--borderWidth) solid var(--customRed)!important;
}

.event-title-agenda-sec{
    text-align: center;
    font-weight: 600;
    color: var(--softBlack);
}
.event-date-agenda-sec{
    text-align: center;
    color: #8db0db;
}


@media screen and (max-width: 569px) {
    .agenda-section{
        max-width: 100vw;
        display: flex;
        flex-direction: row;
        /* overflow-x: scroll; */
        margin-top: 5%;
    }
    .agenda-card{
        height: 300px;
        width: 100%;
    }
    .img-cont-agenda-sec{
        height: 100px;
    }
    .event-title-agenda-sec{
        font-size: 20px;
    }
    .event-date-agenda-sec{
        font: 20px
    }

}


/*== Agenda Page ==*/

.agenda-page-container{
    width: 100vw;
    height: auto;
    background-color: white;
    /* padding: 5% 10%; */
}
.agenda-page-wrapper{
    max-width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    /* overflow-x: scroll; */
}

.agenda-page-header{
    width: 100vw;
    background: var(--Gradient3);
    margin-bottom: 30px;
}

.agenda-page-header h1{
    font-family: 'Spartan', sans-serif;
    font-weight: 900;
    font-size: 50px;
    color: white;
    text-align: center;
    /* border: 1px solid red; */
    margin-top: 20%;
    margin-bottom: 5%;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}

.agenda-page-grid{
    /* display: grid; */
    /* grid-template-columns: auto auto auto; */
    /* grid-template-columns: 1fr 1fr 1fr; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: auto;
    width: 100%;
    margin: 20px auto;
    gap: 10px;
}

.agenda-page-card{
    width: 300px;
    height: 450px;
    background-color: white;
    box-shadow: var(--Shadow);
    border-radius: 20px;
    margin: auto;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    transition: 2s;
    cursor: pointer;
    text-decoration: none!important;
}

.calendar-agenda-page-wrapper{
    max-width: 85vw;
    display: flex;
    flex-direction: row; /*Will change to column in media query*/
    /* border: 1px solid red; */
}

.agenda-page-img-cont{
    height: 300px;
    width: 300px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.agenda-page-img-cont img{
    height: 300px;
}


.agenda-page-text-cont{
    width: 90%;
    margin: 1% auto;
}

.agenda-page-name-card{
    text-decoration: none!important;
    color: var(--DarkGrey);
    text-align: center;
}

.agenda-page-date-card{
    text-decoration: none!important;
    color: var(--LightGreen);
}

.agenda-page-card:hover{
    box-shadow: 0 0 11px rgba(33,33,33,.2);
}

@media screen and (max-width: 1350px){
    /* .agenda-page-grid{
        grid-template-columns: auto auto auto;
    } */
}

@media screen and (max-width: 1014px){
    /* .agenda-page-grid{
        grid-template-columns: auto auto;
    } */
}

@media screen and (max-width: 670px){
    /* .agenda-page-grid{
        grid-template-columns: auto;
    } */
    .agenda-page-card{
        width: 320px;
        height: 450px;
    }
    .agenda-page-img-cont{
        height: 380px;
        width: 320px;
    }
    .agenda-page-title{
        font-size: 40px;
    }
}
@media screen and (max-width: 471px){
    .agenda-page-card{
        width: 230px;
        height: 420px;
    }
    .agenda-page-img-cont{
        height: 230px;
        width: 270px;
    }
    .agenda-page-title{
        font-size: 30px;
    }
}


/*== Event Details Page ==*/

.event-container{
    width: 100vw;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: white;
}

.event-header{
    width: 100vw;
    text-align: center;
    background: var(--Gradient3);
}

.event-header h1{
    color: white;
    font-family: 'Spartan', sans-serif;
    font-weight: 900;
    font-size: 50px;
    text-align: center;
    margin-top: 20%;
    margin-bottom: 5%;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}

.event-wrapper{
    display: flex;
    flex-direction: row; /*change to column on media query*/
    width: 85vw;
    flex-wrap: wrap;
    margin: 5% auto;
}

.event-detail-section{
    width: 50%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.event-time-info{
    margin: 3% 0;
}

.event-time-info h3{
    color: var(--DarkGrey);
}

.event-time-info h3 span{
    color: var(--BrightBlue);
}

.event-deadline-info{
    margin: 3% 0;
}

.event-deadline-info h4{
    color: var(--DarkGrey);
    font-size: 16px;
    font-weight: 600;
}

.event-deadline-info h4 span{
    color: var(--BrightRed);
}

.events-speakers-grid{
    margin: 5% 0;
    /* display: grid;
    grid-template-columns: auto auto; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: auto;
    width: 100%;
    margin: 20px auto;
    gap: 10px;
}

.event-form-section{
    margin: 0 auto;
    width: 45%;
}
.event-card{
    width: 300px;
    height: 450px;
    background-color: white;
    box-shadow: var(--Shadow);
    border-radius: 20px;
    margin: 3% auto;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    transition: 2s;
}

.event-img-cont{
    height: 270px;
    width: 270px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.event-img-cont img{
    height: 270px;
}

.event-text-cont{
    width: 270px;
    overflow: scroll;
    margin: 1% auto;
}

.speaker-name-event{
    display: block;
    font-size: 20px;
    text-align: center;
    font-weight: 500;
    color: var(--DarkGrey);
    margin: 0 auto;
}
.speaker-ppi-event{
    display: block;
    color: #8db0db;
    font-weight: 500;
    margin: 0 auto;
    text-align: center;
}
.speaker-major-event{
    text-align: justify;
}
.speaker-details-event{
    text-align: justify;
}

@media screen and (max-width: 1365px) {
    .event-card{
        width: 270px;
        height: 420px;
    }

    .event-img-cont{
        height: 240px;
        width: 240px;
    }

    .event-img-cont img{
        height: 240px;
    }

    .event-text-cont{
        width: 240px;
    }

    .speaker-name-event{
        display: block;
        font-size: 17px;
        text-align: center;
        font-weight: 500;
        color: var(--DarkGrey);
        margin: 0 auto;
    }

    .speaker-ppi-event{
        display: block;
        color: #8db0db;
        font-weight: 500;
        margin: 0 auto;
        text-align: center;
        font-size: 13px;
    }

    .speaker-major-event{
        font-size: 13px;
    }
    .speaker-details-event{
        font-size: 13px;

    }
}

@media screen and (max-width: 1298px){
    /* .events-speakers-grid{
        margin: 5% 0;
        display: grid;
        grid-template-columns: auto;
    } */
}

@media screen and (max-width: 830px){
    .event-wrapper{
        display: flex;
        flex-direction: column;
    }

    .event-form-section{
        margin: 0 auto;
        width: 100%;
    }
    .event-detail-section{
        width: 100%;
    }
}
