.desc-container{
    width: 100vw;
    /* height: 100vh; */
    background-color: var(--Black);
    /* overflow: hidden; */
}

.desc-section{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* height: 100vh; */
    width: 100vw;
    justify-content: center;
    padding: 5% 0;
    /* background-color: black; */
    background-color: beige;
}

.youtube-cont{
    /* background-color: black; */
    width: 60vw;
    display: flex;
    /* border: 1px solid red; */
}

.youtube-cont iframe{
    width: 50vw;
    height: 50vh;
    /* width:580; height:335; */
    box-shadow: 0px 0px 40px #505050;
}

.desc-cont{
    width: 30vw;
    /* padding: 0 3%; */
    /* border: 1px solid red; */
}

.desc-cont h1{
    text-align: center;
    /* font-family: 'Roboto'; */
    font-family: 'Permanent Marker', cursive;
    color: var(--DarkGrey);
    font-weight: 600;
}

.desc-cont p{
    font-family: 'Roboto';
    color: rgb(87, 87, 87);
    line-height: 2em;
    text-align: justify;
}

.carousel-container{
    padding: 10%;
    background: linear-gradient(24deg, rgba(183,255,96,1) 22%, rgba(231,233,82,1) 51%, rgba(246,255,184,1) 100%);
}

.carousel-section{
    width: 900px;
    height: 300px;
    box-shadow: 0px 0px 60px #505050;
}

.carousel-section .carousel-slide img{
    box-sizing: border-box;
    height: auto;
    width: 100%;
    /* width: 100%; */
    margin: auto;
}

@media screen and (max-width: 1063px) {
    .desc-cont p{
        font-size: 14px;
    }
    .desc-section{
        height: auto;
    }
}

@media screen and (max-width: 959px) {
    .desc-cont{
        width: 60vw;
        padding-top: 10%;
    }
    .youtube-cont iframe{
        width: 80vw;
    }
    .desc-cont p{
        text-align: center;
    }
}

@media screen and (max-width: 600px) {
    .youtube-cont iframe{
        width: 100vw;
    }
    .youtube-cont{
        /* background-color: black; */
        width: 100vw;
        /* border: 1px solid red; */
    }
}

@media screen and (max-width: 1122px) {
    .carousel-section{
        width: 900px;
        height: 300px;
        
    }
    .carousel-container{
        padding: 5%;
    }
}
@media screen and (max-width: 986px) {
    .carousel-section{
        width: 780px;
        height: 260px;
    }
    .carousel-container{
        padding: 5%;
    }
}
@media screen and (max-width: 867px) {
    .carousel-section{
        width: 690px;
        height: 230px;
    }
    .carousel-container{
        padding: 5%;
    }
}
@media screen and (max-width: 765px) {
    .carousel-section{
        width: 540px;
        height: 180px;
    }
    .carousel-container{
        padding: 5% 0;
    }
}
@media screen and (max-width: 551px) {
    .carousel-section{
        width: 450px;
        height: 150px;
    }
    .carousel-container{
        padding: 5% 0;
    }
    .desc-section{
        padding: 5% 0;
    }
}
@media screen and (max-width: 460px) {
    .carousel-section{
        width: 360px;
        height: 120px;
    }
    .carousel-container{
        padding: 5% 0;
    }
}
@media screen and (max-width: 367px) {
    .carousel-section{
        width: 300px;
        height: 100px;
    }
    .carousel-container{
        padding: 5% 0;
    }
}