/* Button */
.faq-btn-float{
  padding: 0px 10px;
  background-color: var(--customRed);
  text-decoration: none!important;
  position: fixed;
  bottom: 80px;
  right: 30px;
  border-radius: 30px;
  /* height: 45px;*/
  width: 45px;
  box-sizing: border-box;
  z-index: 299;
  box-shadow: var(--Shadow);
  cursor: help;
  border: var(--borderWidth) solid var(--softBlack);
}

.faq-btn-float:hover{
  background-color: var(--veryLightGrey);
}
.faq-btn-float:hover .faq-btn-icon{
    color: var(--softBlack);
}

#faq-title-h1{
    font-family: "Work Sans";
    font-style: italic;
    font-weight: 800;
    color: var(--softBlack);
}

.faq-btn-icon{
  display: block;
  font-size: 23px;
  font-weight: 900;
  text-align: center;
  color: white;
  font-family: "Roboto";
}

/* Modal */
.faq-modal{
  display: none;
  border: var(--borderWidth) solid var(--softBlack);
  width: 60vw;
  height: 70vh;
  overflow-y: scroll;
  background-color: var(--veryLightGrey);
  border-radius: 30px;
  position: fixed;
  z-index: 300;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-left: auto;
  margin-right: auto;
  overflow-x: hidden;
  box-shadow: var(--Shadow);
}

.show-faq{
  display: block;
}

.faq-modal-wrapper{
  width: 60vw;
  height: 70vh;
}

.close-modal{
  color: black;
  display: flex;
  justify-content: end;
  transform: translate(-5%, 50%);
  font-size: 40px;
}

.faq-container{
  width: 80%;
  margin: auto;
}

.faq-accordion {
    background-color: white;
    color: var(--softBlack);
    cursor: pointer;
    padding: 10px;
    width: 100%;
    border: var(--borderWidth) solid var(--softBlack);
    text-align: left;
    outline: none;
    font-size: 10px;
    transition: 0.4s;
    border-radius: 20px;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
  }

  .faq-accordion h3{
    font-size: 15px;
    font-weight: 600;
  }

  .active,
  .faq-accordion:hover {
    background-color: var(--customRed);
  }

  .faq-accordion:after {
    content: "\002B";
    color: black;
    font-weight: bold;
    margin-left: 5px;
  }

  .active:after {
    content: "\2212";
  }

  .faq-panel {
    padding: 0 20px;
    background-color: var(--veryLightGrey);
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    width: 100%;
  }

  .faq-panel p {
    font-weight: 500;
    padding-bottom: 10px;
    padding-top: 20px;
  }

  .faq-container h1 {
    display: block;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 10px;
    color: black;
    font-family: 'Permanent Marker';
  }
  .close-modal{
    cursor: pointer;
  }

  .telegram-btn{
    background-color: #0088cc;
    color: white;
    padding: 10px;
    border-radius: 20px;
    text-align: center;
    text-decoration: none!important;
    justify-content: end;
    font-size: 15px;
    display: flex;
    width: 150px;
    margin: 10px auto;
    border: var(--borderWidth) solid var(--softBlack);
  }

  .telegram-btn:hover{
    background-color: white;
    color: #0088cc;
  }

  @media screen and (max-width: 500px) {
    .faq-modal{
      width: 90vw;
      height: 90vh;
    }
    .faq-modal-wrapper{
      width: 90vw;
      height: 90vh;
    }
  }
