.faq-accordion {
    background-color: white;
    color: white;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    border-radius: 0.5em;
    margin-top: 1em;
    display: flex;
    justify-content: space-between;
  }
  
  .active,
  .faq-accordion:hover {
    background-color: pink;
  }
  
  .faq-accordion:after {
    content: "\002B";
    color: white;
    font-weight: bold;
    margin-left: 5px;
  }
  
  .active:after {
    content: "\2212";
  }
  
  .faq-panel {
    padding: 0 20px;
    background-color: black;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }
  
  .faq-container {
    width: 80vw;
  }
  
  .faq-panel p {
    font-weight: 500;
    padding-bottom: 50px;
    padding-top: 20px;
  }
  
  .faq-container h1 {
    position: relative;
    display: block;
    text-align: center;
    /* margin-bottom: 50px; */
    z-index: 50;
    top: -100px;
  }
  