/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  /* Colors */
  --Black: rgba(0, 0, 0, 0);
  --White: rgb(255, 255, 255);
  --DarkGrey: #525252;
  --LightGrey: #cccccc;
  --Pink: #f573a1;
  --Orange: #f37731;
  --LightGreen: #68c38a;
  --Yellow: #f9bb1a;
  --Purple: #67589d;
  --BrightRed: #fe4531;
  --BrightBlue: #3d94fe;
  --SkyBlue: #a4cbfc;
  --DarkGreen: #1f3625;

  /* New Colors */
  --veryLightGrey: #F2F2F2;
  --softBlack: #3F3F3F;
  --customRed: #E44B55;
  --customYellow: #FCD757;
  --customGreen: #5DA3B2;
  --brownOrange: #DB8957;
  --pinkOrange: #FF7362;
  --darkPink: #FF807E;
  --softPink: #FF9F9C;
  --lightPink: #FFBCDB;

  /* Base Colour */
  --BaseLightGreen: rgb(224, 243, 240);
  --BaseMediumGreen: rgb(166, 204, 198);
  --BaseDarkGreen: rgb(100, 151, 144);

  --BaseLightBeige: rgb(247, 245, 242);
  --BaseMediumBeige: rgb(233, 230, 225);
  --BaseDarkBeige: rgb(212, 208, 202);


  /* Gradient Backgrounds */
  --Gradient1: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,175,29,1) 75%, rgba(252,121,69,1) 100%);
  --Gradient2: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(252,121,69,1) 100%);
  --Gradient3: linear-gradient(217deg, rgba(164,203,252,1) 18%, rgba(103,88,157,1) 100%);
  --Gradient4: linear-gradient(140.4deg, #FCD757 0%, #5DA3B2 100%);

  /* z index */
  --znav: 100;
  --zloadingpage: 120;

  /* Width */
  --fullWidth: 100vw;
  --marginLg: 50px;
  --marginMd: 20px;
  --marginSm: 10px;

  /* Box Shadow */
  --Shadow: rgba(70, 70, 70, 0.2) 0px 2px 8px 0px;

  /* Border */
  --borderWidth: 5px;
  --borderRadiusSm: 20px;
  --borderRadiusLg: 30px;

}
/* Custom cursor */
.main-page{
    cursor: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/9632/sad.png"), auto;
}

/* Unable selction */
img {
  pointer-events: none !important;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  background-color: var(--BaseLightBeige);
}

* {
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
}

::-webkit-scrollbar {
  display: none;
}

.page-loader {
  background-color: var(--White);
  position: fixed;
  /* position: absolute; */
  display: block;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  text-align: center;
  z-index: 10000000;
  transition: 2s ease;
}

.loading-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  height: 150px;
  transition: 2s ease;
}

.selectDisable {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

h1 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.h1-section-title {
  font-family: 'Permanent Marker', cursive;
  padding: 0;
  margin: 0;
  position: relative;
  text-align: center;
  width: 200px;
  height: 80px; /* as the half of the width */
  /* background-color: var(--DarkGreen); */
  border-top-left-radius: 110px; /* 100px of height + 10px of border */
  border-top-right-radius: 110px; /* 100px of height + 10px of border */
  /* border: 10px solid var(--DarkGreen); */
  border-bottom: 0;
  color: var(--White);
  left: 50%;
  transform: translateX(-50%);
  top: 2px;
  line-height: 80px;
}


.filters-div{
    /* border: 1px solid red; */
    padding: 10px auto;
    display: flex;
    flex-direction: row;
    background-color: white;
    box-shadow: var(--Shadow);
    width: 100%;
    justify-content: end;
    border-radius: 20px;
}

.filter-separator{
  background-color: var(--BaseLightGreen);
  height: auto;
  width: 3px;
  padding: 3px 0;
  box-sizing: border-box;
}

.search-bar{
  min-width: 100px;
  max-width: auto;
  border: 0;
}

.dropdown-toggle{
  background-color: white;
  border: 0;
  color: var(--DarkGrey);
  min-width: auto;
  max-width: 400px;
}

.custom-card-btn{
  padding: 10px;
  text-decoration: none!important;
  border-radius: 20px;
  background-color: var(--BaseDarkGreen);
  color: white;
  transition: 0.2s;
}

.custom-card-btn:hover{
  background-color: var(--BaseLightGreen);
  color: var(--DarkGrey);
}

.filter-bar{
    border: 0;
}

.effect-pop-up{
    transition: transform 250ms;
  }
.effect-pop-up:hover{
    transform: translateY(-10px);
}

.effect-pop-slide-l{
    transition: transform 250ms;
  }
.effect-pop-slide-l:hover{
    transform: translateX(-10px);
}

.effect-pop-slide-r{
    transition: transform 250ms;
  }
.effect-pop-slide-r:hover{
    transform: translateX(10px);
}

@media screen and (max-width: 357px){
    .filters-div{
        flex-direction: column;
    }
    .filter-separator{
        display: none;
    }
    .filter-bar{
        border: 2px solid var(--BaseLightGreen);
    }
}

/* Btn start */

.button-56 {
  align-items: center;
  /* background-color: #fee6e3; */
  border: 3px solid var(--softBlack);
  border-radius: 8px;
  box-sizing: border-box;
  color: #111;
  cursor: pointer;
  display: flex;
  font-family: Inter,sans-serif;
  font-size: 16px;
  height: 48px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  box-shadow: 8px 8px 0 var(--softBlack);
  transition: .2s ease-out;
}

.button-56:active {
  background-color: #ffdeda;
  outline: 0;
}

.button-56:hover {
  outline: 0;
  box-shadow: 0px 0px 0 var(--softBlack);
}

@media (min-width: 768px) {
  .button-56 {
    padding: 0 40px;
  }
}
  /* btn end */
